search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Entity\Warehouse
	- App\Model\Service\WarehouseService
	- App\Model\Service\StorageService
	- App\Component\Form\Warehouse\WarehouseFormFactory
	- App\Model\Manager\WarehouseManager
	- App\Component\Form\Warehouse\WarehouseForm
	- App\Model\Entity\User
	- App\Model\Service\UserService