search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Entity\Warehouse
	- App\Model\Service\WarehouseService
	- App\Model\Service\StorageService
	- App\Form\WarehouseFormFactory
