<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {block content}

    {var $count = 1}

    <script>
        $(function () {
            $.nette.init();
        });
    </script>

    <div class="mx-5 mt-2">
        <div class="bg-dark p-2 rounded-top d-flex justify-content-start text-light">
            <a class="ajax" n:href="show!">
                <button class="btn btn-sm btn-success">Add item</button>
            </a>
            <h5 class="ml-1">to -> {$warehouse->getName()}</h5>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Price ($USD)</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Move</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {foreach $storage as $item}
                    <tr class="enlargeOnHover slide-down">
                        <th scope="row">{$count++}</th>
                        <td>{$item->getName()}</td>
                        <td>{$item->getDescription()}</td>
                        <td>{$item->getCode()}</td>
                        <td>{$item->getPrice()}</td>
                        <td><button class="btn btn-sm btn-info">Detail <i class="fa-solid fa-info"></i></button></td>
                        {* <td><button class="btn btn-sm btn-warning">Edit <i class="fa-solid fa-pencil"></i></button></td> *}
                        <td><a class="ml-auto ajax" n:href="show!, ['id' => $item->getId(), 'action' => 'default']"><button class="btn btn-sm btn-warning">Edit <i class="fa-solid fa-pencil"></i></button></a></td>
                        <td><a class="ml-auto ajax" n:href="show!, ['id' => $item->getId(), 'action' => 'move']"><button class="btn btn-sm btn-warning">Move <i class="fa-solid fa-arrow-right"></i></button></a></td>
                        {* <td><button class="btn btn-sm btn-warning">Move <i class="fa-solid fa-arrow-right"></i></button></td> *}
                        <td><a class="ml-auto" n:href="deleteStorage!, $item->getId()"><button type="submit" name="deleteButton" value="{$item->getId()}" class="btn btn-sm btn-danger">Delete <i class="fa-solid fa-trash"></i></button></a></td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>

    {snippet storageFormSnippet}
        <div id="storage-add" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add storage</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {control storageForm}
                    </div>
                </div>
            </div>
        </div>
        <script>
            {if isset($id_item)}
                $('#storage-add').modal('show');
            {/if}
        </script>
    {/snippet}

    {snippet storageFormMoveSnippet}
        <div id="storage-move" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Move storage</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {control moveStorageForm}
                    </div>
                </div>
            </div>
        </div>
        <script>
            {if isset($id_item)}
                $('#storage-move').modal('show');
            {/if}
        </script>
    {/snippet}

</body>
    <script src="{$basePath}/js/modalControl.js"></script>
</html>
