.enlargeOnHover {
    transition: transform 0.2s ease-in-out;
    transition-duration: 0.2s;
}

.enlargeOnHover:hover {
    transform: scale(1.02);
}

@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.slide-down {
    animation: slideDown 0.5s ease-in-out;
}

@keyframes popIn {
    0% {
      opacity: 0.4;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .pop-in {
    animation: popIn 0.2s ease-out;
}